@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

html,body{
    padding: 0;
    margin: 0;
    font-family: 'Titan One', cursive;
}

.title {
    display: flex;
    justify-content: center;

}

.panels{
    height: 90vh;
    width: 90vw;
    display:flex;
    justify-content: space-around;
}

.panel{

    height: 70%;
    flex:1;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition : flex .8s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

}

.panel:hover{
    flex:5;
}


 .inklink-1 {
    background-image: url("../img/inklink1.jpg");
 }

 .inklink-2 {
    background-image: url("../img/inklink2.jpg");
 }

 .inklink-3 {
    background-image: url("../img/inklink3.jpg");
 }

 .card {
    background-image: url('https://picsum.photos/id/1000/800/500');
    background-size: cover;
    background-position: center;
}

.card-body {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin-top: 200px;
}