@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

html,body{
    padding: 0;
    margin: 0;
    font-family: 'Titan One', cursive;
    background-image: url(../img/splatoon.png);
    color: white;
}

.navbar{
    background-color: rgba(78, 80, 82, 0.6);
}





.carousel .carousel-item .carousel-caption .carouselText h2{
    color: white;
    text-shadow: 1px 1px 2px pink;
    margin-bottom: 50%;
    scale: 3;
}




.titleSolo{
    font-size: 5rem;
    display: flex;
    justify-content: center;
}

.titleMulti{
    font-size: 5rem;
    display: flex;
    justify-content: center;
}

.soloStory{
    font-size: 1.5rem;
    background-color: rgba(87, 82, 82, 0.425);
}




.trailer-box{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
